@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.4s ease-out;
}