@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
}

body {
  background-color: #f0ebeb;
}

@keyframes slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.4s ease-out;
}
